@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
}

@layer components {
  .btn-primary {
    @apply py-4 px-8 bg-brand-lavanda text-gray-700 uppercase tracking-wider lg:text-xl shadow-lg rounded-full;
  }
  .btn-secondary {
  }
  .section-full {
    @apply relative flex min-h-screen lg:min-h-full overflow-hidden lg:h-[720px]
    2xl:h-[960px];
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
}

.rod-glass {
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(63, 94, 45, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(5px);
}

@font-face {
  font-family: "Flexo";
  src: url("/fonts/Flexo/Flexo-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Flexo";
  src: url("/fonts/Flexo/Flexo-Demi.ttf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Flexo";
  src: url("/fonts/Flexo/Flexo-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Flexo";
  src: url("/fonts/Flexo/Flexo-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Flexo";
  src: url("/fonts/Flexo/Flexo-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Flexo";
  src: url("/fonts/Flexo/Flexo-Thin.ttf");
  font-style: normal;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/Gotham-Light.ttf");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/GothamBook.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/Gotham-Medium.ttf");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham/Gotham-Bold.ttf");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.rod-rotate-45 {
  transform: rotate(45deg) !important;
}

.-rod-rotate-45 {
  transform: rotate(-45deg) !important;
}
